* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url("img/fondo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.fondo-distribucion {
    background: url("img/fondo.png") no-repeat center center fixed;
    background-size: cover;
}

.fondo-sensores {
    background: url("img/sensores.png") no-repeat center center fixed;
    background-size: cover;
}

.fondo-notificaciones {
    background: url("img/notificaciones.png") no-repeat center center fixed;
    background-size: cover;
}

.fondo-librerias {
    background: url("img/librerias.png") no-repeat center center fixed;
    background-size: cover;
}

.fondo-seguridad {
    background: url("img/sensores.png") no-repeat center center fixed;
    background-size: cover;
}


.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.box {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    transition: 0.3s ease;
}

.box:hover {
    transform: translateY(-3px);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form label {
    display: block;
    margin: 10px 0 5px;
    color: #444;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: border .3s;
}

.form input:focus {
    border-color: #6BA7C9;
}

.btnLOG {
    width: 100%;
    padding: 12px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btnLOG:hover {
    background: #6BA7C9;
    cursor: pointer;
}


.btn {
    background-color: #3a7bd5;    
    color: white;
    padding: 15px 20px;          
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;            
    display: block;
    transition: .3S;    
}         

.btn:hover {
    background-color: #3a7bd5;     
    cursor: pointer;
}


.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

.login-box {
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15); /* transparencia */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* efecto borroso */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*ESTILOS PARA EL MENÚ Y LOS TUTORIALES*/

.big-container {
    width: 100%;
    max-width: 900px;
    padding: 40px 50px;
    margin: 50px auto; 
}

.big-bo1 {
    background: #fff;
    padding: 40px 45px;
    border-radius: 15px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    transition: .3s;
}

.big-box {
    background: #fff;
    padding: 40px 45px;
    border-radius: 15px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    transition: .3s;
}

.big-box:hover {
    transform: translateY(-3px);
}

.tutorial-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0 10px;
    color: #6BA7C9;
}

.content-text {
    font-size: 17px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.example-box {
    background: #eef2ff;
    padding: 15px 20px;
    border-left: 5px solid #6BA7C9;
    margin-bottom: 20px;
    border-radius: 8px;
}

.example-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ref-box {
    margin-top: 40px;
    padding: 20px;
    background: #f7f7f7;
    border-left: 4px solid #6BA7C9;
    border-radius: 8px;
}

.ref-box ul {
    padding-left: 20px;
}